*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.header{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}



.con {
    color: white;
    display: flex;
    justify-content: space-around;
}



.con li{    
    align-items: center;
    cursor: pointer;
    padding: 0px 20px;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.header button{
    align-items: center;
    cursor: pointer;
    padding: 15px 40px;
    border: none;
    background-color: white;
    color: black;
}

.mid{
    flex-wrap: wrap;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  
}

.mid h1{
    font-size: 10rem;
    
    
}
.divv p{
    color: white;
}

img{
    display: flex;
    width: 20vw;
    height: 30vh;
}

.divv{
    flex-wrap: wrap;
    width: 70vw;
    height: 180vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.diii{
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.white{
    width: 100vw;
    background-color: white;
    height: 50vh;
}

.para{
    display: flex;
    align-items: center;
}

.whitee{
    background-color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.cont{
    background-color: white;
    height: 90vh;
    width: 60vw;
    display: flex;
    border: rgb(255, 118, 118) solid 1px;
    justify-content: center;
}

.div-img{
    background-color: white;
    display: flex;
    position: relative;
    align-items: center;   
}

.img1{
    position: absolute;
}

.img2{
    position: relative;
}